pydantic
python-dotenv
langchain
langchain-core
langchain-community
langchain-openai
langchain-groq
langchain_huggingface
#VectorStore variables
faiss-cpu
langchain_google_genai
pypdf
#Pinecone
langchain-pinecone
pymupdf
langchain_experimental
opensearch-py
langchain_mongodb
wikipedia
youtube_search